*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 100;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.nav{
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px 40px;
    background-color: black;
    z-index: 1;
    position: fixed;
    top: 0px;
}

.nav h3{
    font-size: 18px;
    font-weight: 500;
}

.nav h3:hover{
    text-decoration: underline;
}

.main{
    width: 100%;
}

.page1{
    height: 100vh;
    padding-top: 100px;
}

.heading h1{
    font-size: 150px;
    opacity: 0.6;
}

.heading{
    width: 100%;
    padding: 40px;
    margin-top: 40px;
}

.heading #sech1{
    margin-bottom: -20px;
    margin-top: -40px;
    margin-left: 170px;
}

.heading h5{
    margin-left: 793px;
    font-size: 16px;
}

.small{
    margin-top: 80px;
    text-align: right;
    padding-right: 40px;
}

.small h4{
    margin-top: 10px;
}

.bottom{
    padding: 0px 40px;
    display: flex;
    /* position: absolute; */
    margin-top: 145px;
    align-items: baseline;
    justify-content: space-between;
    font-size: 16px;
}

.arrow{
    opacity: 0.6;
}

.page2{
    height: 100vh;
    /* background-color: red; */
    padding: 130px 140px 130px 40px;
}

.elem{
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.lastelem{
    border-bottom: 1px solid #888;
}

.elem h1{
    font-size: 120px;
    padding: 40px;
    opacity: 0.7;
}

.elem h4{
    opacity: 0.7;
}

.elem img{
    height: 140%;
    z-index: 12;
    position: absolute;
    object-fit: cover;
    width: 300px;
    opacity: 0;
    transform: translate(-50%);
}

.page3{
    height: 100vh;
    width: 100vw;
    /* background-color: rebeccapurple; */
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.img{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.img img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 150px;
}

.text{
    height: 400px;
    width: 50%;
    padding-top: 150px;
    padding-left: 50px;
}

.text p{
    width: 70%;
    /* margin-left: 50px; */
    font-size: 23px;
}

.text h5{
    opacity: 0.8;
    margin-bottom: 5px;
}

.text button{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px 30px;
    border-radius: 30px;
    margin-top: 10px;
}

.footer{
    /* height: 1; */
    width: 100%;
    position: absolute;
    bottom: 200px;
    margin-left: 40px;
}

.footer h5{
    opacity: 0.8;
    margin-bottom: 10px;
}

.last{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.left h4{
    font-weight: 400;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.right h4{
    font-weight: 400;
}